body {
    font-family: 'Lora', serif;
    background-image: url('https://unsplash.com/es/fotos/mujer-en-topless-sentada-en-la-silla-RVrVOvUkVwk?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 600px;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab', serif;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.options button {
    margin: 10px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-family: 'Lora', serif;
}

.options button:hover {
    background-color: #0056b3;
}

#extra-options {
    margin-top: 30px;
    font-size: 18px;
    text-align: left;
}
